.w-schools.widget
  .w-header 
    a(href="/schools") Школы
  .w-body
    for schoolItem in w_schools
      a.w-item-link(href="/school/" + schoolItem.login, title=schoolItem.name)
        img.w-item-img(src="/files/school/s" + schoolItem.id + "/ava_50.jpg")