.w-users.widget
  .w-header 
    a(href="/users") Пользователи
  .w-body
    for userItem in w_users
      a.w-item-link(href="/user/" + userItem.login, title=userItem.fname + ' ' + userItem.sname)
        img.w-item-img(src="/files/user/" + userItem.login + "/ava-60.jpg")