@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,700,300&subset=latin,cyrillic);
/*font-family: 'Comfortaa', cursive;*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700&subset=latin,cyrillic);
/*font-family: 'Open Sans', sans-serif;*/
body {
  font: 14px 'Comfortaa', cursive;
  background: rgba(255,255,255,1);
  margin: 0;
  padding: 0;
}
a {
  color: rgb(43,88,122);
  text-decoration: none;
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  -ms-transition: color 200ms;
  transition: color 200ms;
}
a:hover {
  color: rgb(63,108,182);
  text-decoration: underline;
}
.comfortaa-font {
  font-family: 'Comfortaa', cursive;
}
.open-sans-font {
  font-family: 'Open Sans', sans-serif;
}
.content-wrap {
  width: 992px;
  position: relative;
  display: block;
  margin: 0 auto; 
}
.page-container {
  border-top: 2px solid rgb(255,232,140);
  font-family: 'Open Sans', sans-serif;
  padding: 15px 0;
}

.left-page-block {
  float: left;
  width: 641px;
}
.right-page-block {
  width: 341px;
  float: right;
}
.title1 {
  margin: 0 0 20px;
  font-size: 24px;
  color: rgb(206,100,0);
}

.date-month {
  padding: 0 3px;
}
.dnone {
  display: none;
}